{% extends 'base.html.twig' %}

{% block title %}Hello RegistroController roxi!{% endblock %}

{% block body %}
{{parent()}}

    {% for message in app.flashes('exito') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


    <section class="section-form">
        <div class="contenedor">
            <div class="cabecera">
                <h2>Registrate</h2>
            </div>
            <br>
    <form action="{{form(formulario)}}">
     </form>
    </section>
<br>
<br>
<br>
 
{% endblock %}

